.container {
  display: flex;
  column-gap: 4px;
  padding: 8px;
}

img {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.description {
  font-size: 12px;
  font-weight: 400;
}

.price {
  font-size: 12px;
  font-weight: 600;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.badge {
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgb(220, 219, 152);
  color: rgb(111, 111, 77);
  font-size: 10px;
  font-weight: 400;
}
